<!-- File: templates/landing.html -->
{% extends "base.html" %}

{% block title %}Welcome - Cyber Gamified{% endblock %}

{% block content %}
<div class="landing-container">
    <div class="welcome-message">
        <h2> Welcome to Cyber Gamified </h2>
<p>Mission Briefing: You’re entering the ultimate interactive arena for mastering cybersecurity awareness. <br> <br>
Your objective: Outsmart threats, defend your digital space, and rise through the ranks.</p>

<p>Remember knowledge is your most powerful weapon against cyber attacks.
And here, every lesson is a challenge, every challenge is a game <br>and every game makes you stronger.<p/>

    </div>
</div>
{% endblock %}